* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
}
nav {
  padding: 20px 10px;
  background-color: black;
}
.bar {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}
li {
  margin-right: 30px;
}

/* drop down button */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  color: white;
  min-width: 150px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  margin-top: 10px;
  min-width: 150px;
  z-index: 1;
}
.dropdown-content a {
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

#run {
  padding: 15px 30px;
  margin-left: 20px;
}


#showDrop {
  display: block;
}
#hideDrop {
  display: none;
}

#algos {
  color: white;
  transform: rotate(90deg) scale(.7) translate(2px,3px);
}

#divTable {
  margin-top: 50px;
  padding: 10px;
  border: 1px solid black;
}
h1 {
  color: white;  
}

table {
  background-color: white;
  border-collapse: collapse;
  align-content: center;
}
td, tr {
  border: 1px solid black;
  padding: 16px
}


.mazeStart {
  background-color: black;
}

.wall {
  background-color: black;
  
  /*animation*/
  animation: wall;
  animation-duration: .8s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes wall {
  0% {
    transform: scale(.3);
    background-color: rgba(0, 0, 0, .8);
  }
  75% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.breakWall {
  background-color: white;
  
  /*animation*/
  animation: breakWall;
  animation-duration: .8s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes breakWall {
  0% {
    background-color: rgba(0, 0, 0, .8);
  }
  50% {
    background-color: rgb(26, 26, 26);
  }
  75% {
    background-color: rgb(89, 89, 89);
  }
  100% {
    background-color: white;
  }
}

.visited {
  background-color: rgb(255, 140, 26);
  animation: visited;
  animation-duration: 1.5s;

}

@keyframes visited {
  0% {
    transform: scale(.3);
    background-color: rgba(179, 89, 0,.5);
    border-radius: 30px;
  }
  25% {
    scale: (.5);
    background-color: rgba(230, 115, 0,.8);
    border-radius: 10px;
  }

  50% {
    transform: scale(.7);
    background-color: rgb(153, 77, 0);
  }
  75% {
    transform: scale(1.1);
    background-color: rgb(204, 102, 0);
  }
  100% {
    transform: scale(1);
  }
}


#start {
  position: absolute;
  transform: translate(-4px, -7px) scale(1.2);
}

#end {
  position: absolute;
  transform: translate(-7px, -7px) scale(1.3);
}


.path {
  background-color: rgb(248, 211, 46);
  animation: path;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes path {
  0% {
    transform: scale(.7);
    background-color: rgba(248, 211, 46, 0.945);
  }
  75% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}