* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  background-color: rgb(180, 180, 180);
}
nav {
  padding: 20px 10px;
  background-color: black;
}
.bar {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}
li {
  margin-right: 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  color: white;
  min-width: 150px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  margin-top: 10px;
  min-width: 150px;
  z-index: 1;
  border-radius: 10px;
}
.dropdown-content a {
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content-2 {
  display: none;
  position: absolute;
  background-color: black;
  margin-top: 10px;
  min-width: 100px;
  z-index: 1;
  border-radius: 10px;
}
.dropdown-content-2 a {
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  text-align: center;
}

a:hover {
  color: #949494;
}
a:hover i {
  filter: invert(62%) sepia(10%) saturate(12%)
   hue-rotate(343deg) brightness(92%) contrast(89%);
}

#run {
  cursor: pointer;
  margin-left: 20px;
  min-width: 120px;
  min-height: 50px;
  font-weight: bold;
  white-space: normal;
  word-wrap: break-word;
  font-size: 16px;
}
#run:hover {
  background-color: rgba(202, 202, 202, 0.479);
}


#showDrop {
  display: block;
}
#hideDrop {
  display: none;
}

i {
  padding: 10px;
  background-image: url(icons/chevron-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
  filter: invert(100%) sepia(100%) saturate(0%)
   hue-rotate(302deg) brightness(103%) contrast(101%);
}

#divTable {
  margin: 10px;
  margin-top: 38px;
}
h1 {
  color: white;  
}

table {
  margin: auto;
  background-color: white;
  border-collapse: collapse;
}
td, tr {
  border: 1px solid black;
  padding: 16px
}
.mazeStart {
  background-color: black;
}

.wall {
  background-color: black;
  
  /*animation*/
  animation: wall;
  animation-duration: .8s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes wall {
  0% {
    transform: scale(.3);
    background-color: rgba(0, 0, 0, .8);
  }
  75% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.breakWall {
  background-color: white;
  
  /*animation*/
  animation: breakWall;
  animation-duration: .8s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes breakWall {
  0% {
    background-color: rgba(0, 0, 0, .8);
  }
  50% {
    background-color: rgb(26, 26, 26);
  }
  75% {
    background-color: rgb(89, 89, 89);
  }
  100% {
    background-color: white;
  }
}

.visitedQuick {
  background-color: rgb(255, 140, 26);
}

.visited {
  background-color: rgb(255, 140, 26);
  animation: visited;
  animation-duration: 1.3s;

}

@keyframes visited {
  0% {
    transform: scale(.3);
    background-color: rgba(179, 89, 0,.5);
    border-radius: 30px;
  }
  25% {
    scale: (.5);
    background-color: rgba(230, 115, 0,.8);
    border-radius: 10px;
  }

  50% {
    transform: scale(.7);
    background-color: rgb(153, 77, 0);
  }
  75% {
    transform: scale(1.1);
    background-color: rgb(204, 102, 0);
  }
  100% {
    transform: scale(1);
  }
}


.start {
  background-image: url(icons/chevron-right.svg);
  fill: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
  animation: animatePoint;
  animation-duration: 1s;

}

.end {
  background-image: url(icons/dot-circle.svg);
  fill: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  animation: animatePoint;
  animation-duration: 1s;
}
@keyframes animatePoint {
  0% {
    transform: scale(.6);
    opacity: .7;
  }
  50% {
    transform:  scale(1.3);
  }
  100%  {
    transform: scale(1);
  }
}

.pathQuick {
  background-color: rgb(248, 211, 46);
}
.path {
  background-color: rgb(248, 211, 46);
  animation: path;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes path {
  0% {
    transform: scale(.7);
    background-color: rgba(248, 211, 46, 0.945);
  }
  75% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}